*{
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden; /* Κόβει το βίντεο που περισσέυει */
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
}

#videocontainer{
    width: 100%;
    padding: 0px;
}

#video-background{
    position: fixed;
    left: 0px; /* Μετατόπιση προς τα αριστερά για το "ξεχείλωμα" */
    top: 0px; /* Μετατόπιση προς τα πάνω για το "ξεχείλωμα" */
    object-fit: cover;
    z-index: -1;
}


.box-Container{
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 4px solid rgb(4, 198, 4);
    z-index: 0;
}

#Welcome{
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
}

#Welcome h1{
    margin-bottom: 60px;
    color: white;
    text-decoration: underline;
}

.buttons{
    width: 250px;
    height: 50px;
    background-color:rgb(4, 198, 4);
    color: black;
    border-radius: 3px;
    font-size: larger;
    font-weight:400;
    cursor: pointer;
}

#whitescreen{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
}

#details-Box{
    display: none;
    width: 250px;
    height: 200px;
    justify-content: left;
    align-items:start;
    color: white;
}


#keimeno{
    display: none;
    background-color: black;
    color: white;
    font-size: large;
    justify-content: baseline;
    padding: 5px;

}

#specifics{
    white-space: pre-line;
}

#specifics .myspan {
    width: 12px; /* Ορίζει το πλάτος σε 100 pixel */
    height: 20px; /* Ορίζει το μέγιστο πλάτος σε 200 pixel */
    display: none; /* Καθιστά το span inline-block για να εφαρμοστεί το πλάτος */
    background-color: rgb(96, 255, 96);
    margin-top: 1px;
    margin-left: 2px;
    animation: blink 1s infinite;
}
  
#cursor{
    display: none;
    width: 12px;
    height: 20px;
    background-color: rgb(96, 255, 96);
    margin-top: 1px;
    margin-left: 2px;
    animation: blink 0.5s infinite;
}


#buttonSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 50%;
    margin-right: 7%;
}


#buttonSection .buttons{
    display: none;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#Info-Box{
    display: none;
    flex-direction: column;
    width: 250px;
    height: 200px;
    justify-content: center;
    align-items:center;
    color: white;
}

#eikona{
    display: none;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

#myImage{
    display: flex;
    width: 62%;
    height: 100%;
    max-width: 62%;
    max-height: 100%;
    border-radius: 3px;
}

#Infolist{
    display: none;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

#Info-Box p{
    display: inline-flex;
    color: white;
    margin-top: 3%;
    margin-left: 5px;

}


@keyframes blink {
    0%, 100% {
        opacity: 1; /* Εμφάνιση */
    }
    50% {
        opacity: 0; /* Απόκρυψη */
    }
}